.message {
	position:relative;
	padding:15px;
	border-radius:10px;
	box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
}


.local .message {
	background: -webkit-radial-gradient(10% 50%, #147, #369);
	border: 1px solid #369;
	color: white;
	margin-left: 20%;
	text-align: right;
}

.remote .message {
	background: -webkit-radial-gradient(10% 50%, #999, #666);
	border: 1px solid #999;
	color: white;
	margin-right: 20%;
	text-align: left;
}

.local .nickname {
	text-align: right;
}

.remote .nickname {
	text-align: left;
}